# WHILE alguma coisa:
# ____Faça isso
# Fim while

# Execute isso para travar seu computador.

In [5]:
n = 10
cont = 0

while cont <= n:
    print(cont)

# Forma correta

In [6]:
n = 10
cont = 0

while cont <= n:
    print(cont)
    cont += 1

0
1
2
3
4
5
6
7
8
9
10

# Escreva um programa que peça dois números, base e expoente, calcule e mostre o primeiro número elevedo ao segundo. Obs: Não utilizar a função potência.

# ...
# ...
# ...
# ...
# ...
# ...

In [14]:
base = int(input("Digite a base: "))
expoente = int(input("Digite o expoente: "))

cont = 0
produto = 1
while cont < expoente:
    produto = produto*base
    cont += 1
print(produto)

Digite a base: 2
Digite o expoente: 3
8

# Escreva um programa que,dado um número inteiro não-negativo n, determinar n! (fatorial)

# ...
# ...
# ...
# ...
# ...
# ...
# ...

In [19]:
valor = int(input("Digite o número a ser fatorado: "))

prod = valor
cont = valor -1

while cont > 1:
    prod *= cont
    cont -= 1
print(prod)

Digite o número a ser fatorado: 10
3628800

In [20]:
10*9*8*7*6*5*4*3*2*1

3628800

# Loops infinitos

In [10]:
senha = 123
while True:
    entrada = int(input("Senha numérica: "))
    if entrada == senha:
        break
    print("Acesso negado!")
print("Acesso liberado!")

Senha numérica: 44
Acesso negado!
Senha numérica: 545
Acesso negado!
Senha numérica: 123
Acesso liberado!

# For loops

In [11]:
n = 10
for i in range(n):
    print(i)

0
1
2
3
4
5
6
7
8
9

# For com range delimitado

In [12]:
for i in range(5,25):
    print(i)

5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24

# Escreva um programa que calcule e retorne a soma dos números entre 5 e 50 ,115 e 159, 199 e 299.

# ...
# ...
# ...
# ...
# ...
# ...
# ...
# ...
# ...

In [21]:
soma  = 0
for i in range(5,50):
    soma += i
for j in range(115,160):
    soma += j
for k in range(199,300):
    soma += k
print(soma)

32529

# Definindo valores de incremento em For loops

In [22]:
for i in range(0,10,2):
    print(i)

0
2
4
6
8

# Escreva um programa que calcule a soma de todos números impares de até 100

# ...
# ...
# ...
# ...
# ...
# ...
# ...

In [27]:
resultado = 0
for i in range(1,101,2):
    resultado += i
print(resultado)

2500

# For loops com incremento negativo

In [30]:
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

# Escreva um programa que calcule o fatorial de um numero utilizando um For loop.

# ...
# ...
# ...
# ...
# ...
# ...
# ...
# ...
# ...

In [37]:
valor = int(input("Valor: "))
resultado = 1
for i in range(valor,0,-1):
    resultado *= i
print(resultado)

Valor: 5
120

# Nested For

In [1]:
for i in range(1,5):
    for j in range(1,5):
        print(i,j)

1 1
1 2
1 3
1 4
2 1
2 2
2 3
2 4
3 1
3 2
3 3
3 4
4 1
4 2
4 3
4 4

# Escreva um programa que retorne a tabuada de todos os valores de 1 a 10.

# ...
# ...
# ...
# ...
# ...
# ...
# ...
# ...

In [3]:
for i in range(1,11):
    print("")
    print('Tabuada do ',i)
    print("")
    for j in range(1,11):
        print('%i X %i = %i'%(i,j,i*j))

Tabuada do  1

1 X 1 = 1
1 X 2 = 2
1 X 3 = 3
1 X 4 = 4
1 X 5 = 5
1 X 6 = 6
1 X 7 = 7
1 X 8 = 8
1 X 9 = 9
1 X 10 = 10

Tabuada do  2

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20

Tabuada do  3

3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
3 X 10 = 30

Tabuada do  4

4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
4 X 10 = 40

Tabuada do  5

5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50

Tabuada do  6

6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54
6 X 10 = 60

Tabuada do  7

7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
7 X 10 = 70

Tabuada do  8

8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72
8 X 10 = 80

Tabuada do  9

9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81
9 X 10 = 90

Tabuada do  10

10 X 1 = 10
10 X 2 = 20
10 X 3 = 30
10 X 4 = 40
10 X 5 = 50
10 X 6 = 60
10 X 7 = 70
10 X 8 = 80
10 X 9 = 90
10 X 10 = 100